@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: "Source Sans Pro";
  font-weight: 300;
}
h1 {
  font-family: Merriweather;
  font-weight: 500;
  color: rgb(248, 241, 231);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: antiquewhite;
  z-index: 1;
  opacity: 0.9;
}

.overlay h1 {
  color: #123;
  text-align: center;
  margin-left: 45%;
  margin-top: 13%;
  padding: 20px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-family: "Berkshire Swash", cursive;
}
.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 1;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}
.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background: #123;
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.masthead .masthead-content p {
  font-size: 1rem;
  text-transform: uppercase;
}


@media (min-width: 100px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewY(12deg);
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3rem;
    letter-spacing: 2.5px;
    line-height: 1.5;
  }
  .masthead .masthead-content p {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
.social-icons {
  position: relative;
  width: auto;
  margin-left: 25%;
}

.social-icons i {
  text-align: center;
  font-size: 1.2rem;
  color: antiquewhite;
  margin-left: 15px;
  height: 25px;
  opacity: 0.5;
  border-radius: 50%;
  width: 25px;
}

.right-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
  opacity: 0.9;
}
.right-icons ul {
  width: 100%;
  text-align: center;
}
.right-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}
.right-icons ul > li > a {
  display: block;
  color: #fff;
  background-color: #123;
  border-radius: 100%;
  font-size: 1rem;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
}
@media (min-width: 768px) {
  .right-icons {
    margin: 0;
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
    width: auto;
  }
  .right-icons ul {
    margin-top: 0;
    width: auto;
  }
  .right-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.7rem;
  }

  .right-icons ul > li > a {
    font-size: 1.3rem;
    line-height: 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
  }
  .right-icons ul > li > a:hover {
    background-color: rgb(30, 38, 48);
  }
}


/* notify Me */
.notify {
  background: transparent;
  position: relative;
  margin: 0 auto;
  width: 95%;
  top: 30px;
  max-height: 250px;
  max-width: 250px;
  text-align: center;
}

.notify__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  color: #123;
  margin-left: 5px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.notify__input {
  position: relative;
  top: 0px;
  padding:0.5em 3px;
  border-radius: 30px;
  transform: scaleX(0);
  visibility: hidden;
  width: 280px;
  font-size: 1rem;
  font-weight: 700;
  color: #123;
  line-height: 1.9;
  background: antiquewhite;
  border-color:#495055;
  outline: none;
}

.notify__button {
  text-align: center;
  border-radius: 15px;
  background-color: antiquewhite;
  border: none;
  outline: none;
}

.notify__send-button {
  padding: 0.5em 6px;
  position: absolute;
  top: 10%;
left:91% ;
  font-size: 1rem;
  background-color: #4d4d4d;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  visibility: hidden;
  
}

.notify__outer-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 60%;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: antiquewhite;
  color: #123;
  z-index: 1;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgba(0,0,0, .5);
  transition: color 0.2s;
  
}

.notify__thank-you-label {
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 25px;
  background-color:antiquewhite;
  color: #123;  
  visibility: hidden;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 46%;
}

.big-text {
  font-size: 3.5rem;
  margin: 1rem 2rem;
  color: #fff;
}

.countdown-el {
  text-align: center;
}

span {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.box {
  float: left;
  width: 130px;
  margin-left: 15px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 25px 0 25px 0;
  background: #123;
}

footer {
  display: flex;
  text-align: center;
  height: 20px;
  width: 20px;
}

footer span {
  margin-top: 30px;
  font-size: 0.5rem;
}
